body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  padding: 55px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  display: block;
  background: #4caf50;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 140px;
}

.login-button:hover {
  background: #45a049;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  color: #4caf50;
}

.register-link a {
  text-decoration: none;
  color: #4caf50;
  font-weight: 600;
}
